In [1]:
#import Library

import numpy as np
import pandas as pd

In [2]:
# read dataset

df_train = pd.read_csv(r"D:\AI Engineer\Programming-Work\ML\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\train.csv")
df_test = pd.read_csv(r"D:\AI Engineer\Programming-Work\ML\Projects\Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing\Dataset for the project\test.csv")

In [3]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [5]:
df_train.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df_train.shape

(4209, 378)

In [7]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [9]:
df_test.shape

(4209, 377)

In [10]:
X_train = df_train.drop(['ID','y'], axis=1)
X_test = df_test.drop(['ID'], axis=1)
y_train = df_train[['y']]

In [11]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(4209, 376)
(4209, 376)
(4209, 1)

In [12]:
#Check for null and unique values for test and train sets.

X_train.isnull().any().any()

False

In [13]:
def check_null(df) :
    if df.isnull().any().any() :
        print("Yes")
    else :
        print("No")
        
check_null(X_train)
check_null(X_test)
check_null(y_train)

No
No
No

In [14]:
len(X_train['X0'].value_counts())

47

In [15]:
len(np.unique(X_train['X0']))

47

In [16]:
features = X_train.columns

In [17]:
#If for any column(s), the variance is equal to zero, then you need to remove those variable(s)

def chek_variance(df) :
    features = df.columns
    for column in features :
        variance = len(df[column].unique())
        if (variance == 1) :
            df.drop([column], axis = 1)

In [18]:
chek_variance(X_train)
chek_variance(X_test)

In [19]:
print(X_train.shape)
print(X_test.shape)

(4209, 376)
(4209, 376)

In [20]:
#Apply label encoder

from sklearn.preprocessing import LabelEncoder

LBencoder = LabelEncoder()

In [21]:
columns_ = ['X0','X1','X2','X3','X4','X5','X6','X8']

In [22]:
X_train[columns_] = X_train[columns_].apply(LBencoder.fit_transform)

In [23]:
X_train.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
LBencoder.classes_

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
       'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y'],
      dtype=object)

In [25]:
X_test[columns_] = X_test[columns_].apply(LBencoder.fit_transform)

In [26]:
X_test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
#Perform dimensionality reduction

from sklearn.decomposition import PCA
pca = PCA(n_components=0.95, random_state=123)

In [28]:
pca_X_train = pca.fit_transform(X_train)
pca_X_test = pca.transform(X_test)

In [29]:
print(X_train.shape)
print(pca_X_train.shape)

(4209, 376)
(4209, 6)

In [30]:
print(X_test.shape)
print(pca_X_test.shape)

(4209, 376)
(4209, 6)

In [31]:
#Predict your test_df values using XGBoost

from sklearn.model_selection import train_test_split

x_train_, x_test_, y_train_, y_test_ = train_test_split(pca_X_train, y_train, test_size=0.25, random_state=1234)

In [32]:
from xgboost import XGBRegressor
xgbRegressor_test = XGBRegressor(random_state = 1234)

In [33]:
xgbRegressor_test.fit(x_train_,y_train_)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=1234,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [34]:
y_pred_ = xgbRegressor_test.predict(x_test_)

In [35]:
y_pred_

array([ 97.71544 , 102.62995 ,  92.554855, ..., 107.53467 ,  95.99028 ,
       109.77813 ], dtype=float32)

In [36]:
from sklearn.metrics import r2_score, mean_squared_error

In [37]:
r2_score(y_true= y_test_, y_pred= y_pred_)

0.29477718516346707

In [38]:
mean_squared_error(y_true= y_test_, y_pred= y_pred_)

125.30040866964778

In [39]:
xgbRegressor_ = XGBRegressor(random_state=12345)

In [40]:
xgbRegressor_.fit(pca_X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=12345,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [41]:
y_predict = xgbRegressor_.predict(pca_X_test)

In [42]:
y_predict

array([ 80.11723 ,  95.23544 ,  81.542046, ..., 104.083466, 109.84317 ,
       102.78643 ], dtype=float32)